h1{
	text-align: center;
	color: darkred;
	border: dotted;	
	border-color: black;
	font-family: serif;
	font-size: 30pt;
	background-color: white;
}
th{
    text-align: center;
	font-size: 20pt;
	border: solid;
}
table{
	background-color: white;
	border: solid;
	border-color: darkred;

}
body{
	background-image: url(restaurant.jpg);
}
h2{
	font-family: serif;
	color: #3C0000;
}
h3{
	font-family: sans-serif;
}
